<h1>Your Shopping Cart</h1>

<% if @cart_items.any? %>

  <%= render "cart/cart_table" %>

  <br>
  <h2>
    Cart Total:
    $<%= @cart_items.sum { |p| p.price * session[:cart][p.id.to_s] } %>
  </h2>

  <%= button_to "Clear Cart",
        cart_clear_path,
        method: :post,
        class: "btn btn-danger",
        style: "margin-right: 10px;" %>

<% else %>

  <%= render "cart/empty" %>

<% end %>

<hr>

<%= link_to "Continue Shopping", products_path %>
