<h1>Your Cart</h1>

<% if @cart_items.empty? %>

  <%= render "cart/empty" %>

<% else %>

  <%= render "cart/cart_table" %>

  <br>
  <h2>Cart Total: $<%= @cart_total %></h2>

  <%= button_to "Clear Cart",
        cart_clear_path,
        method: :post,
        class: "btn btn-danger",
        style: "margin-right: 10px;" %>

  <%= link_to "Continue Shopping", products_path, class: "btn btn-primary" %>

<% end %>
