<h3>Shipping Address</h3>

<div>
  <%= f.label :shipping_street, "Street Address" %><br>
  <%= f.text_field :shipping_street, required: true %>
</div>

<div>
  <%= f.label :shipping_city, "City" %><br>
  <%= f.text_field :shipping_city, required: true %>
</div>

<div>
  <%= f.label :shipping_province_id, "Province" %><br>

  <% if defined?(Province) %>
    <%= f.collection_select :shipping_province_id, Province.all, :id, :name, prompt: "Select a province" %>
  <% else %>
    <!-- Static fallback for registration page -->
    <%= f.select :shipping_province_id, [
      ["Alberta", 1], ["British Columbia", 2], ["Manitoba", 3], ["New Brunswick", 4],
      ["Newfoundland and Labrador", 5], ["Nova Scotia", 6], ["Ontario", 7],
      ["Prince Edward Island", 8], ["Quebec", 9], ["Saskatchewan", 10],
      ["Northwest Territories", 11], ["Nunavut", 12], ["Yukon", 13]
    ], prompt: "Select a province", required: true %>
  <% end %>
</div>

<div>
  <%= f.label :shipping_postal_code, "Postal Code" %><br>
  <%= f.text_field :shipping_postal_code, required: true %>
</div>
