<h1>Shipping Address</h1>

<%= form_with model: @address, url: save_address_checkout_path do |f| %>

  <div>
    <%= f.label :street %>
    <%= f.text_field :street %>
  </div>

  <div>
    <%= f.label :city %>
    <%= f.text_field :city %>
  </div>

  <div>
    <%= f.label :postal_code %>
    <%= f.text_field :postal_code %>
  </div>

  <div>
    <%= f.label :province_id, "Province" %>
    <%= f.collection_select :province_id, @provinces, :id, :name %>
  </div>

  <%= f.submit "Save & Continue", class: "btn btn-primary" %>

<% end %>
