<h1><%= @product.name %></h1>

<p><strong>Description:</strong> <%= @product.description %></p>

<p>
  <strong>Price:</strong>
  $<%= @product.on_sale ? @product.sale_price : @product.base_price %>
</p>

<p><strong>Category:</strong> <%= @product.category&.name %></p>

<p><strong>Type:</strong> <%= @product.product_type %></p>

<% if @product.product_type == "digital" %>
  <p><strong>File:</strong> <%= @product.digital_file_url %></p>
  <p><strong>File Size:</strong> <%= @product.digital_file_size %> bytes</p>
<% else %>
  <p><strong>Stock:</strong> <%= @product.stock_quantity %></p>
<% end %>

<br>

<%= link_to "Edit", edit_admin_product_path(@product) %> |
<%= link_to "Back to Products", admin_products_path %>
