<%= form_with url: products_path, method: :get, local: true do |f| %>
  <div class="row g-3">

    <!-- Keyword -->
    <div class="col-12 col-md-3">
      <%= f.label :keyword, "Search" %><br>
      <%= f.text_field :keyword, value: params[:keyword], class: "form-control" %>
    </div>

    <!-- Category -->
    <div class="col-12 col-md-3">
      <%= f.label :search_category_id, "Category" %><br>
      <%= f.collection_select :search_category_id, @categories, :id, :name,
          include_blank: "All Categories",
          selected: params[:search_category_id],
          class: "form-select" %>
    </div>

    <!-- Filter type -->
    <div class="col-12 col-md-3">
      <%= f.label :filter, "Filter Products" %><br>
      <%= f.select :filter,
        [
          ["On Sale", "on_sale"],
          ["New (Added ≤3 days)", "new"],
          ["Recently Updated (≤3 days)", "updated"]
        ],
        include_blank: "None",
        selected: params[:filter],
        class: "form-select" %>
    </div>

    <!-- Submit -->
    <div class="col-6 col-md-2 d-flex align-items-end">
      <%= f.submit "Search", class: "btn btn-primary w-100" %>
    </div>

    <!-- Clear Filters -->
    <% if params[:keyword].present? || params[:search_category_id].present? || params[:filter].present? %>
      <div class="col-6 col-md-1 d-flex align-items-end">
        <%= link_to "Clear", products_path, class: "btn btn-secondary w-100" %>
      </div>
    <% end %>

  </div>
<% end %>
