<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Ecommerce App" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <% flash.each do |key, value| %>
      <div class="flash <%= key %>">
        <% if value.is_a?(Array) %>
          <ul>
            <% value.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        <% else %>
          <p><%= value %></p>
        <% end %>
      </div>
    <% end %>

    <%= yield :head %>

    <!-- Favicon -->
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
    <nav class="bg-gray-900 text-white px-6 py-4 flex justify-between items-center">
      <div class="text-xl font-bold">
        <%= link_to "DevEcommerce", root_path, class: "hover:text-gray-300" %>
      </div>

      <ul class="flex space-x-6">
        <li><%= link_to "Products", products_path, class: "hover:text-gray-300" %></li>
        <li><%= link_to "About", about_path, class: "hover:text-gray-300" %></li>
        <li><%= link_to "Contact", contact_path, class: "hover:text-gray-300" %></li>

        <% if user_signed_in? %>
          <li><%= link_to "Logout", destroy_user_session_path, method: :delete, class: "hover:text-gray-300" %></li>
        <% else %>
          <li><%= link_to "Login", new_user_session_path, class: "hover:text-gray-300" %></li>
        <% end %>
      </ul>
    </nav>

    <%= yield %>

    <%= render "shared/auth_links" %>
  </body>
</html>
